
{% extends "SCOOLAPP/base.html" %}

{% block titre %} Gestion Classes {% endblock %}


{% block content %} 
    <form class="formclass" id="formulCC" action="{% url 'AddnewClasse' %}" method="post"
        enctype="multipart/form-data" > {% csrf_token %}

        <div class="blocBout">
            <h1 class="titl">Vue sur les classes</h1>
            <div class="boutt">
                <a href="{% url 'classes' %}"></a><div class="create annul_next"><a href="{% url 'classes' %}">Annuler</a></div></a>
                <p style="font-size: 19px; margin: 0;">  Veillez renseigner les informations sur la nouvelle classe </p>
                <button class="delete annul_next" type="button" onclick="Confirmcreate()" style="border: 3px groove #F1853D;background-color: #F1853D;">enregistrer</button>
            </div>
        </div>

        <div class="entCclss SSCLSS">
            <div>
                <div class="barreHvc" style="width: 75px;"></div>
                <p>Classe :</p>
                <div class="barreHvc" style="width: 75px;"></div>
            </div>
            <input type="text" name="codeC" id="codeC" required>
        </div>
        <div class="barreHvc" style="width: 50%;height: 5px;"></div>
        <div class="entTclss SSCLSS">
            <div>
                <div class="barreHvc" style="width: 75px;"></div>
                <p>Type :</p>
                <div class="barreHvc" style="width: 75px;"></div>
            </div>
            <select id="TypeC" name="TypeC" required>
                <option selected disabled value="">----------------------------------</option>
                {% for typ in types %}
                    <option>{{typ.nomTyp}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="barreHvc" style="width: 55%;height: 5px;"></div>      
        <div class="entNclss SSCLSS">
            <label>
                <div class="barreHvc"></div>
                <p>Nom :</p>
                <div class="barreHvc"></div>
            </label>
            <input type="text" name="nomC" id="nomC" required>
        </div>
        <div class="barreHvc" style="width: 60%;height: 5px;"></div>
        <div class="entDclss SSCLSS">
            <div>
                <div class="barreHvc"></div>
                <p>Description :</p>
                <div class="barreHvc"></div>
            </div>
            <textarea  name="descriptionC" id="descriptionC" cols="100" rows="5" required ></textarea>
        </div>
        <div class="barreHvc" style="width: 70%;height: 5px;"></div>
    </form>

    <script type="text/javascript">
        var isconfirm = false;
        let idcodC = document.getElementById("codeC");
        let idnameC = document.getElementById("nomC");
        let idtypC = document.getElementById("TypeC");
        var iddescpC = document.querySelector('textarea');
        idcodC.addEventListener("blur", () => {
            if (isconfirm){
                if(idcodC.value == ""){idcodC.style.borderColor = "red";}
                else{idcodC.style.borderColor = "black";}
            }
	    })
        idnameC.addEventListener("blur", () => {
            if (isconfirm){
                if(idnameC.value == ""){idnameC.style.borderColor = "red";}
                else{idnameC.style.borderColor = "black";}
            }
	    })
        idtypC.addEventListener("blur", () => {
            if (isconfirm){
                if(idtypC.value == ""){idtypC.style.borderColor = "red";}
                else{idtypC.style.borderColor = "black";}
            }
	    })
        iddescpC.addEventListener("blur", () => {
            if (isconfirm){
                if(iddescpC.value == ""){iddescpC.style.borderColor = "red";}
                else{iddescpC.style.borderColor = "black";}
            }
	    })
        function Confirmcreate() {
            isconfirm = true;
            console.log(idcodC.value);
            console.log(idnameC.value);
            console.log(idtypC.value);
            console.log(iddescpC.value);
            if(idcodC.value!="" & idnameC.value!="" & idtypC.value!="" & iddescpC.value!=""){
                $.ajax({
                    type: 'GET',
                    url: "{%url 'Getdatasclasses' %}",
                    success: function(response){
                        var verif = true;
                        for(key in response.Classes){
                            if(response.Classes[key].codeClass == idcodC.value){verif = false;}
                        }
                        if( verif ){ 
                            console.log("iciiii");
                            let confirmation = document.getElementById("confirmation1");
                            confirmation.style.display = "block"
                            let main = document.getElementById("main");
                            main.style.filter = "blur(4px)"
                            return true
                        }
                        else{
                            idcodC.style.borderColor = "red";
                            idcodC.placeholder = "Champ obligatoire et unique !"
                        }
                    }
                })
            }
            else{ 
                if(idcodC.value == ""){
                    idcodC.style.borderColor = "red";
                    idcodC.placeholder = "Champ obligatoire !"
                }
                if(idnameC.value == ""){
                    idnameC.style.borderColor = "red";
                    idnameC.placeholder = "Champ obligatoire !"
                }
                if(idtypC.value == ""){
                    idtypC.style.borderColor = "red";
                    idtypC.placeholder = "Champ obligatoire !"
                }
                if(iddescpC.value == ""){
                    iddescpC.style.borderColor = "red";
                    iddescpC.placeholder = "Champ obligatoire !"
                }
                return false 
            }
            
        }
       
        function change_annul(){
            let boutAnnul = document.getElementById("annnulCC");
            console.log("Annuler");
            boutAnnul.style.border = "3px inset #928f8c";
            boutAnnul.style.fontSize = "12px"
            boutAnnul.style.letterSpacing= "0.3px";

        }
   </script>
{% endblock %}

{% block content2 %}
    <div id="confirmation1" class="confirm confirm2">
        <div class="uu">
            <div class="confirm-main2">
                <header class="confirm-header">
                    <div id="out" style="margin-left: 85%;width: 10%;margin-bottom: 10px;"><a href="#">x</a></div>
                </header>
                <section class="confirm-section">
                    Confirmez-vous la création de cette nouvelle classe ?
                </section>
                <footer class="confirm-footer">
                    <button class="bout annnulCC" id="annnulCC" > Annuler</button>
                    <button class="bout confirmCC" id="confirmCC"> Confirmer</button>
                </footer>
            </div>
        </div>
    </div>
    <script>
        function onSend(){
            var formul = document.getElementById("formulCC");
            formul.submit();
            console.log("action done !!!")
        }
        function oncancel(){
            confirmation.style.display = "none";
            let main = document.getElementById("main");
            main.style.filter = "blur(0)"
            console.log("annull !!!");
        }
        let boutConf = document.getElementById("confirmCC");
        let confirmation = document.getElementById("confirmation1");
        let boutAnnul = document.getElementById("annnulCC");
        let outCroix = document.getElementById("out");
        boutConf.addEventListener("click", () => {
            onSend();
        })
        outCroix.addEventListener("click", () => {
            oncancel();
        })
        boutAnnul.addEventListener("click", () => {
            oncancel();
        })
        confirmation.addEventListener("click", () => {
            oncancel();
	    })
        document
            .querySelector(".confirm-main2")
            .addEventListener("click", (e) => e.stopPropagation());
    </script>
{% endblock %}