{% extends "SCOOLAPP/base.html" %}

{% block titre %} Gestion Classes {% endblock %}


{% block content %} 
    <div class="blocBout">
        <h1 class="titl">Vue sur les professeurs</h1>
        <div class="boutt">
            <a href="{%url 'FormAddProfs' %}"></a><div class="create"><a href="{%url 'FormAddProfs' %}">+ Ajouter professeur</a></div></a>
            <a href="{%url 'SelctDelProfs' %}"></a><div class="delete"><a href="{%url 'SelctDelProfs' %}">x Supprimer professeur</a></div></a>
        </div>
    </div>

    <div class="LstProfs" id="VueProfs">

    </div>

    <script type="text/javascript">
        AfficheClasses();
        $(document).ready(function(){
          setInterval(AfficheClasses, 1000)   
        })
    
        function AfficheClasses(){
          $.ajax({
            type: 'GET',
            url: "{%url 'GetdatasProfs' %}",
            success: function(response){
              //console.log(response)
              $('#VueProfs').empty();
              state = true;
              var temp= '<div class="barreHvc"></div>'
              $('#VueProfs').append(temp)
              for(key in response.Profs){
                var temp = '<a href="/api/Professeur/'+response.Profs[key].id+'">'
                temp += '<div class="Eltclas detmodifC" style="background-color:'
                if (state){ temp += '#E3D7D7;">';}
                else{ temp += '#D0DED1;">';}
                state = !state;
                temp +='<div>\
                            <div class="#"><span style="font-style: italic;">matricule : </span>  <span style="font-weight: bold;">'+response.Profs[key].MatriculeProf+'</span></div>\
                            <div class="#"><span style="font-style: italic;">Nom : </span>  <span style="font-weight: bold;">'+response.Profs[key].nomProf+' '+response.Profs[key].prenomProf+'</span></div>\
                            <div class="#"><span style="font-weight: bold;">'+response.Profs[key].EmailProf+'</span></div>\
                        </div>\
                        <img class="photoprof" src="/media/'+response.Profs[key].photoProf+'">'
                temp += '</div></a>';
                temp += '<div class="barreHvc"></div>'
                $('#VueProfs').append(temp)
              }
            }
          })  
        }
    </script>
{% endblock %}

{% block content2 %} 
  {% if infobuleConfirm or infobuleConfirmCreat %}
      <div id="confirmation" class="confirm confirm1" onclick="gotogestprofs()">
          <div class="confirm-main1">
            <header>
              <div onclick="gotogestprofs()" style="margin-left: 80%;width: 10%;margin-bottom: 10px;"><a href="#">x</a></div>
            </header>
            <section>
                {% if infobuleConfirm %}
                    <p style="margin: 0;padding: 3px 20px;">Suppression effectuée avec succès !</p>
                {% elif infobuleConfirmCreat %}
                    <p style="margin: 0;padding: 3px 20px;">Professeur ajouté avec succès !</p>
                {% endif %}
            </section>  
          </div>
      </div>
    <script type="text/javascript">
          let confirmation = document.getElementById("main");
          confirmation.style.filter = "blur(4px)"
          document
            .querySelector(".confirm-main1")
            .addEventListener("click", (e) => e.stopPropagation());
    </script>
  {% endif %}
  <script type="text/javascript"> 
      function gotogestprofs(){
          url =  "/Professeurs/"
          window.location.href= url
      }
  </script>
{% endblock %}
