{% extends "SCOOLAPP/base.html" %}

{% block titre %} Gestion Classes {% endblock %}


{% block content %} 
    <div class="blocBout">
        <h1 class="titl">Vue sur les classes</h1>
        <div class="boutt">
            <a href="{%url 'FormAddClasses' %}"></a><div class="create"><a href="{%url 'FormAddClasses' %}">+ Ajouter classe</a></div></a>
            <a href="{%url 'SelctDelClasses' %}"></a><div class="delete"><a href="{%url 'SelctDelClasses' %}">x Supprimer classe</a></div></a>
        </div>
    </div>

    <div class="LstClass" id="VueClasses">

    </div>

    <script type="text/javascript">
        AfficheClasses();
        $(document).ready(function(){
          setInterval(AfficheClasses, 1000)   
        })
    
        function AfficheClasses(){
          $.ajax({
            type: 'GET',
            url: "{%url 'Getdatasclasses' %}",
            success: function(response){
              //console.log(response)
              $('#VueClasses').empty();
              state = true;
              var temp= '<div class="barreHvc"></div>'
              $('#VueClasses').append(temp)
              for(key in response.Classes){
                var temp = '<a href="/api/Classe/'+response.Classes[key].id+'">'
                temp += '<div class="Eltclas" style="background-color:'
                if (state){ temp += '#C67373;">';}
                else{ temp += '#AE9A9A;">';}
                state = !state;
                temp +='      <div class="#"><span style="font-style: italic;">Classe</span>  <span style="font-weight: bold;">'+response.Classes[key].codeClass+'</span></div>\
                              <div class="#"><span style="font-style: italic;">Nommée</span>  <span style="font-weight: bold;">'+response.Classes[key].nomClass+'</span></div>\
                              <div class="#">'+response.Classes[key].descrpClass+'</div>'
                    temp += '</div></a>';
                    temp += '<div class="barreHvc"></div>'
                $('#VueClasses').append(temp)
              }
            }
          })  
        }
    </script>
{% endblock %}

{% block content2 %} 
  {% if infobuleConfirm or infobuleConfirmCreat %}
      <div id="confirmation" class="confirm confirm1" onclick="gotogestclass()">
          <div class="confirm-main1">
            <header>
              <div onclick="gotogestclass()" style="margin-left: 80%;width: 10%;margin-bottom: 10px;"><a href="#">x</a></div>
            </header>
            <section>
              {% if infobuleConfirm %}
                <p style="margin: 0;padding: 3px 20px;">Suppression effectuée avec succès !</p>
              {% elif infobuleConfirmCreat %}
                <p style="margin: 0;padding: 3px 20px;">Classe crée avec succès !</p>
              {% endif %}
            </section>  
          </div>
      </div>
    <script type="text/javascript">
          let confirmation = document.getElementById("main");
          confirmation.style.filter = "blur(4px)"
          document
            .querySelector(".confirm-main1")
            .addEventListener("click", (e) => e.stopPropagation());
    </script>
  {% endif %}
  <script type="text/javascript"> 
      function gotogestclass(){
          url =  "/classes/"
          window.location.href= url
      }
  </script>
{% endblock %}
