
{% extends "SCOOLAPP/base.html" %}

{% block titre %} Select profs to delete {% endblock %}


{% block content %} 
    <div class="blocBout">
        <h1 class="titl">Vue sur les professeurs</h1>
        <div class="boutt">
            <a href="{% url 'classes' %}"></a><div class="create annul_next"><a href="{% url 'classes' %}">Annuler</a></div></a>
            <p style="font-size: 19px; margin: 0;">  Selectionner le(s) professeurs(s) à supprimer </p>
            <a href="{% url 'validDelProfs' %}"></a><div class="delete annul_next"><a href="{% url 'validDelProfs' %}">Suivant</a></div></a>
        </div>
    </div>
    <div class="Eltclas Eltclaspls" style="background-color: #eff3f5;">
      <input type="checkbox" id="SelectAll" class="form-check-input" onclick="changeStateSlct('SelectAll')">
      <label class="form-check-label" for="exampleCheck1" style="margin-left: 5px;">Tout selectionner</label>
    </div>
    <div class="LstProfs" id="VueProfs">
      
    </div>

    <script type="text/javascript">
      var lenP;
      AfficheProfs();
      $(document).ready(function(){
        setInterval(AfficheProfs, 2000)   
      })

      function AfficheProfs(){
        $.ajax({
          type: 'GET',
          url: "{%url 'GetdatasProfs' %}",
          success: function(response){
            lenP = response.Profs.length
            $('#VueProfs').empty();
            state = true;
            for(key in response.Profs){
                var temp= '<div class="barreHvc"></div>'
                temp += '<div class="Eltclas Eltclaspls " style="justify-content: space-between;background-color:'
                if (state){ temp += '#E3D7D7;">';}
                else{ temp += '#D0DED1;">';}
                state = !state;
                temp += '<div class="detmodifC">'
                if(response.Profs[key].state){
                    temp +='<input type="checkbox" id="'+response.Profs[key].id+'" onclick="changeStateSlct(id)" checked>'
                }
                else{
                    temp +='<input type="checkbox" id="'+response.Profs[key].id+'" onclick="changeStateSlct(id)">'
                }
                temp += '<label for="exampleCheck1" style="margin-left:15px;">\
                            <div class="#"><span style="font-style: italic;">matricule : </span>  <span style="font-weight: bold;">'+response.Profs[key].MatriculeProf+'</span></div>\
                            <div class="#"><span style="font-style: italic;">Nom : </span>  <span style="font-weight: bold;">'+response.Profs[key].nomProf+' '+response.Profs[key].prenomProf+'</span></div>\
                            <div class="#"><span style="font-weight: bold;">'+response.Profs[key].EmailProf+'</span></div>\
                        </label>\
                    </div>\
                    <img class="photoprof" src="/media/'+response.Profs[key].photoProf+'">\
                    </div>';
                temp += '<div class="barreHvc"></div>'
                $('#VueProfs').append(temp)
            }
          }
        })  
      }
  
      let SelectAll = document.getElementById("SelectAll")
      SelectAll.addEventListener("click", () => {
        for(i=1;i<=lenP;i++){
          console.log(i)
          let elt = document.getElementById(String(i))
          if (SelectAll.checked){ elt.checked = true; }
          else{elt.checked = false;}
        }
      })
      
      function changeStateSlct(iditem){
        console.log(iditem);
        let elt = document.getElementById(String(iditem))
        $.ajax({
          type: 'GET',
          url: "{%url 'ChangStateProf' %}",
          data:{
            idC: iditem,
            stat: elt.checked,
            csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
          },
          success:function(){ console.log("Successs"); }
        })
      }
  </script>
{% endblock %}
