
{% extends "SCOOLAPP/base.html" %}

{% block titre %} confirm delete profs {% endblock %}


{% block content %} 
            <div class="blocBout">
                <h1 class="titl">Vue sur les professeurs</h1>
                <div class="boutt">
                    <a href="{%url 'SelctDelProfs' %}"></a><div class="create annul_next"><a href="{%url 'SelctDelProfs' %}">Annuler</a></div></a>
                    <p style="font-size: 19px; margin: 0;">  Confirmer la suppression des professeurs selectionnés </p>
                    <a href="{%url 'deleteProfs' %}"></a><div class="delete annul_next"><a href="{%url 'deleteProfs' %}">confirmer</a></div></a>
                </div>
            </div>
            <div class="LstClass" id="VueClasses">
                {% for prof in Profs %}
                    <div class="barreHvc"></div>
                    <div class="Eltclas" style="background-color: #AE9A9A;">
                        <div class="#"><span style="font-style: italic;">Matricule </span>  <span style="font-weight: bold;">{{prof.MatriculeProf}} : <span style="font-weight: bold;">{{prof.nomProf}}  {{prof.prenomProf}}</span></span></div>
                    </div>
                    <div class="barreHvc"></div>
                {% endfor %}
            </div>
{% endblock %}


