
{% extends "SCOOLAPP/base.html" %}

{% block titre %} Gestion Classes {% endblock %}


{% block content %} 
            <div class="blocBout">
                <h1 class="titl">Vue sur les classes</h1>
                <div class="boutt">
                    <a href="{%url 'SelctDelProfs' %}"></a><div class="create annul_next"><a href="{%url 'SelctDelProfs' %}">Annuler</a></div></a>
                    <p style="font-size: 19px; margin: 0;">  Confirmer la suppression des classes selectionnées </p>
                    <a href="{%url 'deleteClasses' %}"></a><div class="delete annul_next"><a href="{%url 'deleteClasses' %}">confirmer</a></div></a>
                </div>
            </div>
            <div class="LstClass" id="VueClasses">
                {% for class in classes %}
                    <div class="barreHvc"></div>
                    <div class="Eltclas" style="background-color: #AE9A9A;">
                        <div class="#"><span style="font-style: italic;">Classe</span>  <span style="font-weight: bold;">{{class.codeClass}} : <span style="font-weight: bold;">{{class.nomClass}}</span></span></div>
                    </div>
                    <div class="barreHvc"></div>
                {% endfor %}
            </div>
{% endblock %}


